<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fooddelivery"
        tools:targetApi="31">
        <activity android:name=".MenuActivity"
            android:exported="true"/>
        <activity android:name=".MyApplication"
            android:exported="true"/>
        <activity android:name=".ListActivity"
            android:exported="true"/>
        <activity
            android:name=".SavedProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SelectAddressActivity"
            android:exported="true" />
        <activity
            android:name=".OrderPlacedActivity"
            android:exported="true" />

        <activity
            android:name=".LocationActivity2"
            android:exported="true" />
        <activity
            android:name=".SignActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile" />
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>